html, body {
    width: 100%;
    height: 100%;
}

.camisetas {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 65%;
    background-position: 40% 75px;
}

.camisetas img {
    float: right;
    width: 450px;
    margin-right: 10%;
    margin-top: 10%;
}

#river-rojo {
    background-image: url("../img/Placa\ River-rojo.png");
    background-color: #cd0c13;
}

#river-negro {
    background-image: url("../img/Placa\ River-negro.png");
    background-color: black;
}

.figura-equipo {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.plano-multiplay {
    position: relative;
    height: 300px;
    width: 100%;
    background-color: #cd0c13;
}

.rectangulo {
    position: relative;
    width: 150px;
    height: 50px;
    background-color: white;

}
