html, body {
    width: 100%;
    height: 100%;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: blue;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

html {
    scroll-behavior: smooth;
  }


.camisetas {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 65%;
    background-position: 40% 75px;
}

.camisetas img {
    float: right;
    width: 450px;
    margin-right: 10%;
    margin-top: 10%;
}

#river-rojo {
    background-image: url("../img/Placa\ River-rojo.png");
    background-color: #cd0c13;
}

#river-negro {
    background-image: url("../img/Placa\ River-negro\ copy.png");
    background-color: black;
}
.camiseta-mobile {
    display: none;
}

@media (max-width: 415px) {
    .camiseta-mobile {
        display: block;
        float: none !important;
        width: 100% !important;
        margin: 0 !important;
    }

    #river-rojo {
        background-image: none;
        display: block;
        padding-left: 5px;
        padding-right: 5px;
    }
    .camisetas {
        background-attachment: unset;
        height: auto;
    }
    .camisetas.camisetas-negras {
        display: none;
    }
    .vermas {
        margin-top: 5px;
    }
}

.figura-equipo {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

img.grande {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.plano-multiplay {
    position: absolute;
    bottom: 0;
    height: auto;
    width: 100%;
    background-color: #cd0c13;
    filter: opacity(85%);
   
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.rectangulo {
    width: 750px;
    max-width: 90%;
    border: solid 10px;
    color: white;
    height: 170px;
    margin-top: 20px;
}

@media (max-width: 415px) {
    .rectangulo {
        width: 90%;
        height: auto;       
    }

    .rectangulo h3 {
        margin-top: 10px !important;
    }
    
}
.rectangulo h1 {
    font-family: suecaslabbold;
    font-size: 25px;
    margin-top: 15px;
    margin-left: 20px;
}

.rectangulo h2 {
    font-family: suecaslabmedium;
    font-size: 18px;
    margin-top: 0px;
    margin-left: 20px;
}
.rectangulo p {
    font-family: suecananomedium;
    font-size: 15px;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px
}

.rectangulo h3 {
    font-family: suecanano;
    font-size: 10px;
    display: flex;
    justify-content: center;
    margin-top: 98px;
}

.container {
    display: flex;
    /* height: 100%; */

}
.container-fichas {
    width: 90%;
    max-width: 800px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: auto;
    margin-right: auto;

    max-height: 0;
	overflow: hidden;
    transition: all .5s ease-in-out;
}
.container-fichas.visible {
    max-height: 10000px;
}


.ficha {
    display: flex;
    padding: 40px;
    box-shadow: 0px 0px 10px 0px rgba(130,126,130,1);
    margin: 20px 0;
}

@media (max-width: 415px) {
    .ficha {
        flex-direction: column;
    }
    .container-fichas {
        padding-left: 5px;
        padding-right: 5px;
    }
    .ficha-txt h1 {
        font-family: suecaslabbold;
        font-size: 25px;
        margin-top: 10px;
        margin-left: 0px;
        margin-bottom: 15px;
        line-height: normal;
    }
}
.ficha .fotito {
    flex: 1 1 25%;
}
.ficha-txt {
    flex: 1 1 75%;
    margin-left: 20px;
}

.ficha-txt h1 {
    font-family: suecaslabbold;
    font-size: 25px;
    margin-left: 0px;
    margin-bottom: 15px;
    line-height: normal;
}

.ficha-txt h2 {
    font-family: suecaslabmedium;
    font-size: 15px;
    margin-top: -8px;
    margin-left: 0px;
}

.ficha-txt p {
    font-family: suecananomedium;
    font-size: 15px;
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 20px
}



.fotito img {
    width: 100%;
    object-fit: cover;
}
.vermas {
    text-transform: uppercase;
    border: 1px solid;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    transform: rotate(90deg);
    margin: 0;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 30px;
}
.vermas:hover {
    color: white;
}

    /* STYLE BOCA ///////////////////////////////////////////////////////////// */

    .camisetas {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 65%;
        background-position: 40% 75px;
    }
    
    .camisetas img {
        float: right;
        width: 450px;
        margin-right: 10%;
        margin-top: 10%;
    }
    
    #boca-azul {
        background-image: url("../img/Placa\ Boca-Azul.png");
        background-color: rgb(14, 70, 148);
    }
    
    #boca-negro {
        background-image: url("../img/Placa\ Boca-negro.png");
        background-color: black;
    }
    .camiseta-mobile {
        display: none;
    }
    
    @media (max-width: 415px) {
        .camiseta-mobile {
            display: block;
            float: none !important;
            width: 100% !important;
            margin: 0 !important;
        }
        #boca-azul {
            background-image: none;
            display: block;
            padding-left: 5px;
            padding-right: 5px;
        }
        .camisetas {
            background-attachment: unset;
            height: auto;
        }
        .camisetas.camisetas-negras {
            display: none;
        }
        .vermas {
            margin-top: 5px;
        }
    }
    
    .figura-equipo {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    
    img.grande {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .plano-multiplayboca {
        position: absolute;
        bottom: 0;
        height: auto;
        width: 100%;
        background-color: rgb(14, 70, 148);
        filter: opacity(85%);
       
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    
    }
    
    .rectangulo {
        width: 750px;
        max-width: 90%;
        border: solid 10px;
        color: white;
        height: 170px;
        margin-top: 20px;
    }
    
    @media (max-width: 415px) {
        .rectangulo {
            width: 90%;
            height: auto;       
        }
    
        .rectangulo h3 {
            margin-top: 10px !important;
        }
        
    }
    .rectangulo h1 {
        font-family: suecaslabbold;
        font-size: 25px;
        margin-top: 15px;
        margin-left: 20px;
    }
    
    .rectangulo h2 {
        font-family: suecaslabmedium;
        font-size: 18px;
        margin-top: 0px;
        margin-left: 20px;
        margin-right: 20px;
        letter-spacing: -1px;
    }
    .rectangulo p {
        font-family: suecananomedium;
        font-size: 15px;
        margin-top: 5px;
        margin-left: 20px;
        margin-right: 20px
    }
    
    .rectangulo h3 {
        font-family: suecanano;
        font-size: 10px;
        display: flex;
        justify-content: center;
        margin-top: 98px;
    }
    
    .container {
        display: flex;
        /* height: 100%; */
    
    }
    .container-fichas {
        width: 90%;
        max-width: 800px;
        padding-left: 25px;
        padding-right: 25px;
        margin-left: auto;
        margin-right: auto;
    
        max-height: 0;
        overflow: hidden;
        transition: all .5s ease-in-out;
    }
    .container-fichas.visible {
        max-height: 10000px;
    }
    
    
    .ficha {
        display: flex;
        padding: 40px;
        box-shadow: 0px 0px 10px 0px rgba(130,126,130,1);
        margin: 20px 0;
    }
    
    @media (max-width: 415px) {
        .ficha {
            flex-direction: column;
        }
        .container-fichas {
            padding-left: 5px;
            padding-right: 5px;
        }
        .ficha-txt h1 {
            font-family: suecaslabbold;
            font-size: 25px;
            margin-top: 10px;
            margin-left: 0px;
            margin-bottom: 15px;
            line-height: normal;
        }
    }
    .ficha .fotito {
        flex: 1 1 25%;
    }
    .ficha-txt {
        flex: 1 1 75%;
        margin-left: 20px;
    }
    
    .ficha-txt h1 {
        font-family: suecaslabbold;
        font-size: 25px;
        margin-left: 0px;
        margin-bottom: 15px;
        line-height: normal;
    }
    
    .ficha-txt h2 {
        font-family: suecaslabmedium;
        font-size: 15px;
        margin-top: -8px;
        margin-left: 0px;
        letter-spacing: -1px;
    }
    
    .ficha-txt p {
        font-family: suecananomedium;
        font-size: 15px;
        margin-top: 5px;
        margin-left: 0px;
        margin-right: 20px
    }
    
    
    
    .fotito img {
        width: 100%;
        object-fit: cover;
    }
    .vermas {
        text-transform: uppercase;
        border: 1px solid;
        padding: 10px;
        cursor: pointer;
        text-decoration: none;
        color: black;
        transform: rotate(90deg);
        margin: 0;
        width: 50px;
        height: 50px;
        text-align: center;
        border-radius: 50%;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .vermas:hover {
        color: white;
    }


    /* STYLE RACING //////////////////////////////////////////////////////////// */

    .camisetas {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 65%;
        background-position: 40% 75px;
    }
    
    .camisetas img {
        float: right;
        width: 450px;
        margin-right: 10%;
        margin-top: 10%;
    }
    
    #racing-celeste {
        background-image: url("../img/Placa\ Racing-Celeste.png");
        background-color: rgb(63,163,215);
    }
    
    #racing-azul {
        background-image: url("../img/Placa\ Racing-Azul.png");
        background-color: rgb(0,83,141);
    }
    .camiseta-mobile {
        display: none;
    }
    
    @media (max-width: 415px) {
        .camiseta-mobile {
            display: block;
            float: none !important;
            width: 100% !important;
            margin: 0 !important;
        }
        #racing-celeste {
            background-image: none;
            display: block;
            padding-left: 5px;
            padding-right: 5px;
        }
        .camisetas {
            background-attachment: unset;
            height: auto;
        }
        .camisetas.camisetas-negras {
            display: none;
        }
        .vermas {
            margin-top: 5px;
        }
    }
    
    .figura-equipo {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    
    img.grande {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .plano-multiplayracing {
        position: absolute;
        bottom: 0;
        height: auto;
        width: 100%;
        background-color: rgb(63, 163, 215);
        filter: opacity(85%);
       
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    
    }
    
    .rectangulo {
        width: 750px;
        max-width: 90%;
        border: solid 10px;
        color: white;
        height: 170px;
        margin-top: 20px;
    }
    
    @media (max-width: 415px) {
        .rectangulo {
            width: 90%;
            height: auto;       
        }
    
        .rectangulo h3 {
            margin-top: 10px !important;
        }
        
    }
    .rectangulo h1 {
        font-family: suecaslabbold;
        font-size: 25px;
        margin-top: 15px;
        margin-left: 20px;
    }
    
    .rectangulo h2 {
        font-family: suecaslabmedium;
        font-size: 18px;
        margin-top: 0px;
        margin-left: 20px;
        margin-right: 20px;
        letter-spacing: -1px;
    }
    .rectangulo p {
        font-family: suecananomedium;
        font-size: 15px;
        margin-top: 5px;
        margin-left: 20px;
        margin-right: 20px
    }
    
    .rectangulo h3 {
        font-family: suecanano;
        font-size: 10px;
        display: flex;
        justify-content: center;
        margin-top: 98px;
    }
    
    .container {
        display: flex;
        /* height: 100%; */
    
    }
    .container-fichas {
        width: 90%;
        max-width: 800px;
        padding-left: 25px;
        padding-right: 25px;
        margin-left: auto;
        margin-right: auto;
    
        max-height: 0;
        overflow: hidden;
        transition: all .5s ease-in-out;
    }
    .container-fichas.visible {
        max-height: 10000px;
    }
    
    
    .ficha {
        display: flex;
        padding: 40px;
        box-shadow: 0px 0px 10px 0px rgba(130,126,130,1);
        margin: 20px 0;
    }
    
    @media (max-width: 415px) {
        .ficha {
            flex-direction: column;
        }
        .container-fichas {
            padding-left: 5px;
            padding-right: 5px;
        }
        .ficha-txt h1 {
            font-family: suecaslabbold;
            font-size: 25px;
            margin-top: 10px;
            margin-left: 0px;
            margin-bottom: 15px;
            line-height: normal;
        }
    }
    .ficha .fotito {
        flex: 1 1 25%;
    }
    .ficha-txt {
        flex: 1 1 75%;
        margin-left: 20px;
    }
    
    .ficha-txt h1 {
        font-family: suecaslabbold;
        font-size: 25px;
        margin-left: 0px;
        margin-bottom: 15px;
        line-height: normal;
    }
    
    .ficha-txt h2 {
        font-family: suecaslabmedium;
        font-size: 15px;
        margin-top: -8px;
        margin-left: 0px;
        letter-spacing: -1px;
    }
    
    .ficha-txt p {
        font-family: suecananomedium;
        font-size: 15px;
        margin-top: 5px;
        margin-left: 0px;
        margin-right: 20px
    }
    
    
    
    .fotito img {
        width: 100%;
        object-fit: cover;
    }
    .vermas {
        text-transform: uppercase;
        border: 1px solid;
        padding: 10px;
        cursor: pointer;
        text-decoration: none;
        color: black;
        transform: rotate(90deg);
        margin: 0;
        width: 50px;
        height: 50px;
        text-align: center;
        border-radius: 50%;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .vermas:hover {
        color: white;
    }


    /* STYLE SAN LORENZO //////////////////////////////////////////////////////////// */

    .camisetas {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 65%;
        background-position: 40% 75px;
    }
    
    .camisetas img {
        float: right;
        width: 450px;
        margin-right: 10%;
        margin-top: 10%;
    }
    
    #sanlorenzo-azul {
        background-image: url("../img/Placa\ SL-Azul.png");
        background-color: rgb(7, 61, 116);
    }
    
    #sanlorenzo-negro {
        background-image: url("../img/Placa\ SL-negra.png");
        background-color: black;
    }
    .camiseta-mobile {
        display: none;
    }
    
    @media (max-width: 415px) {
        .camiseta-mobile {
            display: block;
            float: none !important;
            width: 100% !important;
            margin: 0 !important;
        }
        #sanlorenzo-azul {
            background-image: none;
            display: block;
            padding-left: 5px;
            padding-right: 5px;
        }
        .camisetas {
            background-attachment: unset;
            height: auto;
        }
        .camisetas.camisetas-negras {
            display: none;
        }
        .vermas {
            margin-top: 5px;
        }
    }
    
    .figura-equipo {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    
    img.grande {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .plano-multiplaysanlorenzo {
        position: absolute;
        bottom: 0;
        height: auto;
        width: 100%;
        background-color: rgb(7, 61, 116);
        filter: opacity(85%);
       
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    
    }
    
    .rectangulo {
        width: 750px;
        max-width: 90%;
        border: solid 10px;
        color: white;
        height: 170px;
        margin-top: 20px;
    }
    
    @media (max-width: 415px) {
        .rectangulo {
            width: 90%;
            height: auto;       
        }
    
        .rectangulo h3 {
            margin-top: 10px !important;
        }
        
    }
    .rectangulo h1 {
        font-family: suecaslabbold;
        font-size: 25px;
        margin-top: 15px;
        margin-left: 20px;
    }
    
    .rectangulo h2 {
        font-family: suecaslabmedium;
        font-size: 18px;
        margin-top: 0px;
        margin-left: 20px;
        margin-right: 20px;
        letter-spacing: -1px;
    }
    .rectangulo p {
        font-family: suecananomedium;
        font-size: 15px;
        margin-top: 5px;
        margin-left: 20px;
        margin-right: 20px
    }
    
    .rectangulo h3 {
        font-family: suecanano;
        font-size: 10px;
        display: flex;
        justify-content: center;
        margin-top: 98px;
    }
    
    .container {
        display: flex;
        /* height: 100%; */
    
    }
    .container-fichas {
        width: 90%;
        max-width: 800px;
        padding-left: 25px;
        padding-right: 25px;
        margin-left: auto;
        margin-right: auto;
    
        max-height: 0;
        overflow: hidden;
        transition: all .5s ease-in-out;
    }
    .container-fichas.visible {
        max-height: 10000px;
    }
    
    
    .ficha {
        display: flex;
        padding: 40px;
        box-shadow: 0px 0px 10px 0px rgba(130,126,130,1);
        margin: 20px 0;
    }
    
    @media (max-width: 415px) {
        .ficha {
            flex-direction: column;
        }
        .container-fichas {
            padding-left: 5px;
            padding-right: 5px;
        }
        .ficha-txt h1 {
            font-family: suecaslabbold;
            font-size: 25px;
            margin-top: 10px;
            margin-left: 0px;
            margin-bottom: 15px;
            line-height: normal;
        }
    }
    .ficha .fotito {
        flex: 1 1 25%;
    }
    .ficha-txt {
        flex: 1 1 75%;
        margin-left: 20px;
    }
    
    .ficha-txt h1 {
        font-family: suecaslabbold;
        font-size: 25px;
        margin-left: 0px;
        margin-bottom: 15px;
        line-height: normal;
    }
    
    .ficha-txt h2 {
        font-family: suecaslabmedium;
        font-size: 15px;
        margin-top: -8px;
        margin-left: 0px;
        letter-spacing: -1px;
    }
    
    .ficha-txt p {
        font-family: suecananomedium;
        font-size: 15px;
        margin-top: 5px;
        margin-left: 0px;
        margin-right: 20px
    }
    
    
    
    .fotito img {
        width: 100%;
        object-fit: cover;
    }
    .vermas {
        text-transform: uppercase;
        border: 1px solid;
        padding: 10px;
        cursor: pointer;
        text-decoration: none;
        color: black;
        transform: rotate(90deg);
        margin: 0;
        width: 50px;
        height: 50px;
        text-align: center;
        border-radius: 50%;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .vermas:hover {
        color: white;
    }

    /* STYLE CAI   //////////////////////////////////////////////////////////// */

    .camisetas {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 65%;
        background-position: 40% 75px;
    }
    
    .camisetas img {
        float: right;
        width: 450px;
        margin-right: 10%;
        margin-top: 10%;
    }
    
    #cai-rojo {
        background-image: url("../img/Placa\ cai-rojo.png");
        background-color: rgb(188,14,29);
    }
    
    #cai-negro {
        background-image: url("../img/Placa\ cai-negro.png");
        background-color: black;
    }
    .camiseta-mobile {
        display: none;
    }
    
    @media (max-width: 415px) {
        .camiseta-mobile {
            display: block;
            float: none !important;
            width: 100% !important;
            margin: 0 !important;
        }
        #cai-rojo {
            background-image: none;
            display: block;
            padding-left: 5px;
            padding-right: 5px;
        }
        .camisetas {
            background-attachment: unset;
            height: auto;
        }
        .camisetas.camisetas-negras {
            display: none;
        }
        .vermas {
            margin-top: 5px;
        }
    }
    
    .figura-equipo {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    
    img.grande {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .plano-multiplaycai {
        position: absolute;
        bottom: 0;
        height: auto;
        width: 100%;
        background-color: rgb(188,14,29);
        filter: opacity(85%);
       
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    
    }
    
    .rectangulo {
        width: 750px;
        max-width: 90%;
        border: solid 10px;
        color: white;
        height: 170px;
        margin-top: 20px;
    }
    
    @media (max-width: 415px) {
        .rectangulo {
            width: 90%;
            height: auto;       
        }
    
        .rectangulo h3 {
            margin-top: 10px !important;
        }
        
    }
    .rectangulo h1 {
        font-family: suecaslabbold;
        font-size: 25px;
        margin-top: 15px;
        margin-left: 20px;
        line-height: normal; 
    }
    
    .rectangulo h2 {
        font-family: suecaslabmedium;
        font-size: 18px;
        margin-top: 0px;
        margin-left: 20px;
        margin-right: 20px;
        letter-spacing: -1px;
    }
    .rectangulo p {
        font-family: suecananomedium;
        font-size: 15px;
        margin-top: 5px;
        margin-left: 20px;
        margin-right: 20px
    }
    
    .rectangulo h3 {
        font-family: suecanano;
        font-size: 10px;
        display: flex;
        justify-content: center;
        margin-top: 98px;
    }
    
    .container {
        display: flex;
        /* height: 100%; */
    
    }
    .container-fichas {
        width: 90%;
        max-width: 800px;
        padding-left: 25px;
        padding-right: 25px;
        margin-left: auto;
        margin-right: auto;
    
        max-height: 0;
        overflow: hidden;
        transition: all .5s ease-in-out;
    }
    .container-fichas.visible {
        max-height: 10000px;
    }
    
    
    .ficha {
        display: flex;
        padding: 40px;
        box-shadow: 0px 0px 10px 0px rgba(130,126,130,1);
        margin: 20px 0;
    }
    
    @media (max-width: 415px) {
        .ficha {
            flex-direction: column;
        }
        .container-fichas {
            padding-left: 5px;
            padding-right: 5px;
        }
        .ficha-txt h1 {
            font-family: suecaslabbold;
            font-size: 25px;
            margin-top: 10px;
            margin-left: 0px;
            margin-bottom: 15px;
            line-height: normal;
        }
    }
    .ficha .fotito {
        flex: 1 1 25%;
    }
    .ficha-txt {
        flex: 1 1 75%;
        margin-left: 20px;
    }
    
    .ficha-txt h1 {
        font-family: suecaslabbold;
        font-size: 25px;
        margin-left: 0px;
        margin-bottom: 15px;
        line-height: normal;
    }
    
    .ficha-txt h2 {
        font-family: suecaslabmedium;
        font-size: 15px;
        margin-top: -8px;
        margin-left: 0px;
        letter-spacing: -1px;
    }
    
    .ficha-txt p {
        font-family: suecananomedium;
        font-size: 15px;
        margin-top: 5px;
        margin-left: 0px;
        margin-right: 20px
    }
    
    
    
    .fotito img {
        width: 100%;
        object-fit: cover;
    }
    .vermas {
        text-transform: uppercase;
        border: 1px solid;
        padding: 10px;
        cursor: pointer;
        text-decoration: none;
        color: black;
        transform: rotate(90deg);
        margin: 0;
        width: 50px;
        height: 50px;
        text-align: center;
        border-radius: 50%;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .vermas:hover {
        color: white;
    }